.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.column{
  float:left;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  
}

.side{
  width:20vw;
}

.center{
  margin-top: 10px;
  width:50vw;
}


.App-link {
  color: #61dafb;
}

.navbar{
  height: 40px;
  background-color: darkcyan;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  background-color: rgb(38, 0, 255);
}

table thead{
  color: white;
}
table tbody {
background-color: white;
}

.personHeader{
  display: flex;
  justify-content: center;
}

.personHeader span{
  width:160px;
  
}

.personButton{
  display: flex;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 16%), 0 0.0625rem 0.5rem 0 rgb(0 0 0 / 12%);
  border: none;
  margin: 15px;
  background-color: white;
  justify-content: center;
  display: flex;
  width:500px;
}

.personDiv{
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.personButton span{
  width: 160px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personButton .languages{
  flex-direction: column;
}

.personDetails{
  display: flex;
}

.sortButton{
  background-color: white;
  border:0px;
}

.details{
  display:flex;
}

.details-span{
  width: 160px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
table{
  table-layout: fixed;
  width:180px;
}
td{
  width:160px;

}

.Error{
  color: red;
}
